:host {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 20px 30px;
  margin: 0 auto 30px;
  width: 320px;
  height: 550px;
}

h3 {
  text-align: center;
  height: 70px;
}

img {
  width: 250px;
  height: 250px;
}

h4, h5 {
  text-align: right;
}

//żeby narzucić własne style na elementy z biblioteki primeNg należy dodać przed danym selektorem :host ::ng-deep
:host ::ng-deep .p-button {
  width: 100%;
}
